@import url("aboutTransMediaQ.css");
@import url("posts.css");
@import url("makePost.css");
@import url("profileCard.css");
@import url("notifications.css");
@import url("sideBar.css");
@import url("group.css");
@import url("./comments.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .false:disabled{
  button[disabled]
} */

#root{
  position: fixed;
  height: 100%;
  width: 100%;
}

.main-background{
  position: fixed;
  height: 100%;
  width: 100%;
  /* background-color:rgba(219, 218, 218, 0.527); */
  overflow: scroll;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.main-background2{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  position: fixed;
  height: 100%;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.527); */
  overflow: scroll;
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}

.main-background2::-webkit-scrollbar {
  display: none;
}

.main-background::-webkit-scrollbar {
  display: none;
}

.bg1{
  position: fixed;
  top: 100px;
  height: 240px;
  width: 200px
}
.bg2{
  position: fixed;
  bottom: 40px;
  right: 20px;
  height: 180px;
  width: 220px
}

.searchBar{
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  margin-right: 20px;
  margin-bottom: 8px;
}

.resultsContainer{
  display: flex;
  /* flex-direction: row; */
  border: 1px solid linear-gradient(45deg, #3474c8 30%, #349ebe 70%);
  background: linear-gradient(45deg, #3474c8 30%, #349ebe 70%);
  margin-top: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 250px;
}

.userSearchResults{
  color: white;
}

.userSearchResults:hover{
  text-decoration: underline;
}

.removeUnderline{
  text-decoration: none;
}

.groupSearchResults{
  color: white;
}

.joinGroup{
  border: solid 1px #2a5fd1;
  border-radius: 3px;
  background-color: #2a5fd1;
  margin-left: 10px;
  color: white;
  padding: 3px 8px 3px 8px;
}

.joinGroup:hover{
  cursor: pointer;
}

.resultUsers{
  font-size: 20px;
  padding-left: 20px;
}

.resultGroups{
  font-size: 20px;
  padding-left: 20px;
}

.request{
  margin-left: 10px;
}


/* Moving the images out of screen on smaller laptops */

@media only screen and (max-width: 797px) {
  .bg1{
    display: none;
  }

  .bg2{
    display: none;
  }
}

/* Safety, about, support sections */

.infoHeader{
  /* margin-left: 10px;
  margin-right: 10px; */
  padding-top: 20px;
  text-align: center;
}
.infoHeader2{
  /* margin-left: 10px;
  margin-right: 10px; */
  padding-top: 60px;
  text-align: center;
}

.infoHeader3{
  padding-top: 5px;
  text-align: center;
  color: white;
}

.infoHeader4{
  display: flex;
  /* flex-grow: 2; */
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: rgba(144, 144, 144, 0.568);
  /* padding-top: 50px; */
}

.bannerBuffer{
  padding-top: 106px;
}

.paragraphs{
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
}

.paragraphs2{
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 20px;
}

.paragraphs3{
  text-align: center;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.paragraphs3:hover{
  /* color: rgb(78, 163, 121); */
  /* font-size: 11px; */
  text-decoration: underline;
  cursor: pointer;
}

.safetyLink{
  text-decoration: none;
  color: white;
  border: 1px solid rgb(112, 65, 187);
  background-color: rgb(112, 65, 187);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

.safetyLink:hover{
  background-color: rgb(55, 96, 161);
  border: 1px solid rgb(55, 96, 161);
}

.safetyLinkBox{
  margin-top: 70px;
  text-align: center;
}

.blockHidden{
  display: none;
}


.animationContainer1{
  display: flex;
  flex-direction: row;
}

.buffer{
  margin-top: 1000px;
}

.buffer3{
  margin-top: 100px;
}

.bannerContainer{
  background-image: url(./images/jellyBanner.jpg);
  background-size: cover;
  height: 170px;
}

.mainNavBar{
  border: 1px solid linear-gradient(45deg, #A673FF 30%, #4FADFF 70%);
  background: linear-gradient(45deg, #A673FF 30%, #4FADFF 70%);
  box-shadow: 0 3px 5px 2px rgba(200, 180, 255, .9);
  padding-bottom: 10px;
  padding-top: 10px;
  max-height: 45px;
}

.continueBtn{
  text-decoration: none;
}

@media only screen and (max-width: 1000px){
  .messages2{
    margin-left: 0px;
  }
}