.userFeed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    /* width: 300px; */
    /* height: 800px; */
    /* border: 1px solid black; */
    /* height: 600px;
    overflow-y: scroll; */
    /* position: sticky; */
}

/* .userFeed::-webkit-scrollbar {
    display: none;
} */

.postContainer{
    border: 1px solid linear-gradient(45deg, #5682df 30%, #55ac8a 90%);
    background: linear-gradient(45deg, #5682df 30%, #55ac8a 90%);
    box-shadow: 0 3px 5px 2px rgba(180, 177, 190, 0.5);
    border-radius: 3px;
    width: 350px;
    /* height: 200px; */
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.userName{
    color: white;
    font-size: 15px;
    margin-top: 4px;
    margin-left: 10px;
    text-decoration: none;
}

.userNameLink{
    text-decoration: none;
}

.userNameLink:hover{
    text-decoration: underline;
    cursor: pointer;
}

.userPost{
    color: white;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    /* text-align: center; */

}

.postDate{
    align-self: baseline;
    color: white;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 4px;
    margin-top: 45px;
    margin-bottom: 10px;
}

.buffer2{
    margin-top: 200px;
}

.postNav{
    display: flex;
    flex-direction: row;
    border-top: solid 1px rgb(36, 36, 36);
    border-bottom: solid 1px rgb(36, 36, 36);
    justify-content: space-around;
    height: 30px;
    width: 280px;
    margin-left: 30px;
    margin-top: 10px;
}

.commentsButton{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.commentsButton:hover{
    cursor: pointer;
    /* border: solid 1px #5a5a5a88; */
    background-color: #5a5a5a88;
    border-radius: 5px;
}

.commentsIcon{
    font-size: medium;
    margin-left: 5px;
    transform: rotate(270deg);
}

.commentsIconOpen{
    transform: rotate(90deg)
}

.likeButton{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

.likeButton:hover{
    cursor: pointer;
    /* border: solid 1px #5a5a5a88; */
    background-color: #6d6b6ba6;
    border-radius: 5px;
}